@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
body{
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    padding-top: 2rem;
}

.logo{
    margin-left: 6rem;
           
}
.nav{

    width: 40%;
    
}
.letrasNav{
    color: black;
    text-decoration: none;
    margin-left: 2.7rem;
    font-size: 18px; 
    }
.seccionUno{
    display: flex;
    justify-content: space-between;
    padding-top: 14rem;    
}
.titulo{
    width: 60%;
    margin-left: 6rem;
}
.miNombre{
    font-size: 75px;
}
.miPresentacion{
    font-size: 30px;
}
.imagenPrincipal{
    width: 40%;
    margin-right: 6rem;
}
.miImagen{
    width: 20rem;
    padding-left: 20rem;
}

.seccionDos{
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
    margin-left: 6rem;
    margin-right: 9rem;
}
.formatoIconos{
    color: black;
    padding-right: 3rem;
    font-size: 25px;
}

.email{
    color: black;
    font-size: 22px;
    text-decoration: none;
}

.titulo2{
    margin-top: 8rem;
    font-size: 30px;
    margin-left: 6rem;
    font-weight: bold
}

.servicios{
    display: flex;
    margin-top: 5rem;
    margin-left: 6rem;
    margin-right: 6rem;
}
.explicacionHtml{
    
    width: 20%;
    padding-right: 12rem;
    font-size: 18px;
}
.explicacionCss{
    
    width: 20%;
    padding-right: 12rem;
    font-size: 18px;
}
.explicacionPhotoshop{
    width: 20%;
    font-size: 18px;
}

.herramientas{
    display: flex;
    margin-top: 5rem;
    margin-left: 6rem;
    margin-right: 6rem;
    width: 70%;
}
.diseñoIcono{
    padding-right: 26rem;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.diseñoIcono2{
    padding-right: 29rem;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.diseñoIcono3{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.diseñoIcono4{
    font-size: 18px;
    font-weight: 600;
    padding-right: 27rem;
    display: flex;
    align-items: center;
}
.herramientas2{
    display: flex;
    margin-top: 4rem;
    margin-left: 6rem;
    
}
.diseñoIcono5{
    font-size: 18px;
    font-weight: 600;
    padding-right: 27.8rem;
    display: flex;
    align-items: center;
}
.diseñoIcono6{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.linea-divisora {
    border-bottom: 1px solid  grey;
    margin-left: 6rem;
    margin-top: 3rem;
    width: 66%;
    border-width: 0.5px;
  }
  
  .herramientas3{
    display: flex;
    margin-top: 4rem;
    margin-left: 6rem;
  }
  .diseñoIcono7{
    font-size: 18px;
    font-weight: 600;
    padding-right: 20.5rem;
    display: flex;
    align-items: center;

  }
  .diseñoIcono8{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
  .separacion{
    padding-left: 0.8rem;
  }
.titulo3{
    
    margin-top: 10rem;
    font-size: 30px;
    margin-left: 6rem;
    font-weight: bold;
}
.experiencia{
    margin-top: 4rem;
    margin-left: 6rem;
    width: 70%;
    font-size: 18px;
}
.linea-divisora2{
    border-bottom: 1px solid  grey;
    margin-left: 6rem;
    margin-top: 3rem;
    width: 70%;
    border-width: 0.5px;
}
.formulario{
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
    margin-left: 6rem;
    width: 88%;
}
.form1{
    
    width: 40%;
}
.titulo4{
    font-size: 40px;
    font-weight: bold;
}
.textofinal{
    padding-top: 1rem;
    font-size: 24px;
}

  
.form3{
    padding: 3rem;
}

.textofinal{
    padding-top: 3rem;
}
.subdiv{
    display: flex;
    justify-content: space-between;
}
.subdiv1{
    padding-top: 4rem;
}
.subdiv2{
    padding-top: 4rem;
    padding-right: 10rem;
}

.iconosContacto{
color: black;
padding-right: 1rem;
font-size: 1.2rem;
}


.form2 {
    background-color: rgb(33, 33, 33);
    color: white;
    padding: 3rem;
    margin-right: 6rem;
    width: 35%;

  }
  
  .form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

 input,textarea{
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
}  

  .inputEmail, .inputPresupuesto, .inputProyecto{
    padding-top: 2rem;
  }

  ::placeholder {
    color: white;
    font-family: 'Rubik', sans-serif;
  }
  .botonEnviar{
    margin-top: 1rem;
    border: none;
    background-color: gainsboro;
    width: auto;
    display: inline-block;
    align-self: flex-end;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    font-size: 12px;
  }

  footer{
    margin-left: 40%;
    padding-top: 6rem;
  }

  /* animaciones */

  .letrasNav:hover,
  .email:hover{
    text-decoration: underline;
    box-shadow: 0 0 3px 12px rgba(200, 200, 200, 0.5);
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 5px;
  }
  .letrasNav,
  .email{
    transition: background-color 0.3s, text-decoration 0.3s, box-shadow 0.3s, border-radius 0.3s;
  }
  
.bi-envelope-fill:hover,
.bi-github:hover,
.bi-instagram:hover,
.bi-whatsapp:hover,
.bi-twitter:hover{
    box-shadow: 0 0 3px 8px rgba(200, 200, 200, 0.5);
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 2px;
}
 .bi-envelope-fill,
 .bi-github,
 .bi-instagram,
 .bi-whatsapp,
 .bi-twitter{
    transition: box-shadow 0.3s, background-color 0.3s, border-radius 0.3s;
 }

.titulo2:hover,
.titulo3:hover,
.titulo4:hover{
    text-decoration: underline;
}
.titulo2,
.titulo3,
.titulo4{
    transition: text-decoration 0.3s;
}

.botonEnviar:hover{
    transform: scale(1.1);
    background-color: rgb(33, 33, 33);
    color: whitesmoke;
    box-shadow: 0 0 1px 1px rgba(200, 200, 200, 0.5);
    cursor: pointer;
}
.botonEnviar{
    transition: transform 0.3s, background-color 0.3s, color 0.3s, box-shadow;
}

.email2:hover{
  text-decoration: underline;
  box-shadow: 0 0 3px 12px rgba(200, 200, 200, 0.5);
  background-color: rgba(200, 200, 200, 0.5);
  border-radius: 5px;
}
.email2{
  transition: background-color 0.3s, text-decoration 0.3s, box-shadow 0.3s, border-radius 0.3s;
  color: black;
  text-decoration: none;
}

/* seccion media queries */
/* desktop */
@media screen and (min-width: 1024px){
body{
    
        }
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023px){
    body{
        background-color: blue;
    }
}
/* celular */
@media screen and (max-width: 767px){
    body{
        background-color: green ;
    }
}